<h1>Analisis exploratiorio de los Ingresantes de la UNAC periodo 2023b
 <h1>

In [1]:
import pandas as pd 

df_unac=pd.read_csv('C:/Users/ADMI/Desktop/E-D-A/data/03_INGRESANTES_limpio.csv')

print(df_unac.head())

          ESCUELA       SEXO PROMOCION_INGRESO                   MODALIDAD  \
0  ADMINISTRACION  Masculino             2023B  Examen General de Admision
1  ADMINISTRACION  Masculino             2023B     Deportistas Calificados
2  ADMINISTRACION  Masculino             2023B       Primer/Segundo Puesto
3  ADMINISTRACION   Femenino             2023B    Centro Pre-Universitario
4  ADMINISTRACION  Masculino             2023B    Centro Pre-Universitario

  COLEGIO_PROCEDENCIA
0    Colegio Nacional
1  Colegio Particular
2    Colegio Nacional
3  Centro Pre de UNAC
4    Colegio Nacional

<h2>Valores Nulos</h2>

In [2]:
valor_nulos=df_unac.isnull().sum()
print(valor_nulos)

ESCUELA                0
SEXO                   0
PROMOCION_INGRESO      0
MODALIDAD              0
COLEGIO_PROCEDENCIA    0
dtype: int64

<p>En el data frame no se ah contado nigun valor nulo , es decir todos los registros contienen correcta</p>

<h2>Eliminacion de columnas que no son relevante</h2>

In [6]:
print(list(df_unac.columns))

['ESCUELA', 'SEXO', 'PROMOCION_INGRESO', 'MODALIDAD', 'COLEGIO_PROCEDENCIA']

<p>Estan son las variables de mi dataframe 
</p>

In [7]:
valores_unicos = df_unac.nunique()
print(valores_unicos)

ESCUELA                17
SEXO                    2
PROMOCION_INGRESO       1
MODALIDAD               9
COLEGIO_PROCEDENCIA     7
dtype: int64

<p><strong>PROMOCION_INGRESO</strong> es la única variable que contiene un valor único, lo que indica que no aporta variabilidad a los datos. Por lo tanto, es recomendable eliminarla, ya que la información que proporciona no tiene influencia significativa en el análisis.</p>

<h3>Eliminacion de variable</h3>

In [8]:
df_unac = df_unac.drop('PROMOCION_INGRESO', axis=1)

print(df_unac.head())

          ESCUELA       SEXO                   MODALIDAD COLEGIO_PROCEDENCIA
0  ADMINISTRACION  Masculino  Examen General de Admision    Colegio Nacional
1  ADMINISTRACION  Masculino     Deportistas Calificados  Colegio Particular
2  ADMINISTRACION  Masculino       Primer/Segundo Puesto    Colegio Nacional
3  ADMINISTRACION   Femenino    Centro Pre-Universitario  Centro Pre de UNAC
4  ADMINISTRACION  Masculino    Centro Pre-Universitario    Colegio Nacional

<p>Este es el nuevo DataFrame sin la variable <strong>PROMOCION_INGRESO</strong>.</p>